{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
  <div class="container">
      <h1>About</h1>
      <h2>Me</h2>
      <p>My name is Jason.  I'm just a random person basically.  I got my PhD in Neuroscience and decided to traverse some other careers by riding the wave of excitement about 'data', programming, and analysis.  It's been pretty fun so far. </p>
      <h2>This Site</h2>
      <p>This is my website.  It's just a basic site where I post my work, so it can live outside of my github account and local file system.  If you see something that you like or have questions about, feel free to email me.  I may or may not get back to you, but I will appreciate the time you took to reach out.</p>
  
   </div>
  </div>
{% endblock %}
