{% extends "base.html" %}
{% block title %}Index{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
  <div class="container">
    <div class="jumbotron">
      <h1>WELCOME!!</h1>
      <p>As you can tell, I'm slowly putting this site together as I learn more about web developmennt.  It's going to be a <strong>slow</strong> process.</p>
      <p>Check out the <strong>Contents</strong> section of the navigation bar for links to my projects</p>
   </div>
  </div>
{% endblock %}
